# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @walterkozlowski

# Governance
/doc/gov/                            @steelescotr @bobmon01 @walterkozlowski

# Reference Model
/doc/ref_model/                      @walterkozlowski

# Reference Architectures 1
/doc/ref_arch/openstack/             @karinesevilla @walterkozlowski

# Reference Implementation 1
/doc/ref_impl/cntt-ri/               @karinesevilla @jgu17 @walterkozlowski

# Reference Certification 1
/doc/ref_cert/RC1/                   @karinesevilla @walterkozlowski

# Reference Architectures 2
/doc/ref_arch/kubernetes/            @rgstori @walterkozlowski

# Reference Implementation 2
/doc/ref_impl/cntt-ri2/              @rihabbanday @jgu17 @walterkozlowski

# Reference Conformance 2
/doc/ref_cert/RC2/                   @walterkozlowski @steelescotr

# Edge workstream
# /doc/tech/usecases.md              @ASawwaf @walterkozlowski

# NFG
/doc/tech/                          @walterkozlowski @scottsteinbrueck
