# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

*       @walterkozlowski @karinesevilla @jgu17 @collivier @rgstori @xudan16 @steelescotr


# Governance
/doc/gov/                            @walterkozlowski

# Reference Model
/doc/ref_model/                      @walterkozlowski

# Reference Architectures 1
/doc/ref_arch/openstack/             @collivier

# Reference Implementation 1
/doc/ref_impl/cntt-ri/               @jgu17

# Reference Architectures 2
/doc/ref_arch/kubernetes/            @rgstori

# Reference Implementation 2
/doc/ref_impl/cntt-ri2/              @xudan16

# Reference Conformance 2
/doc/ref_cert/RC2/                   @steelescotr

# Edge workstream
# /doc/tech/usecases.md              @walterkozlowski

# NFG
/doc/tech/                           @walterkozlowski
