sphinx!=1.6.6,!=1.6.7,!=2.1.0,!=3.0.0,!=3.4.2 # BSD
sphinxcontrib.direct-copy
sphinxcontrib.readme-to-index
sphinxcontrib.relative-link-corrector
sphinx-bootstrap-theme
sphinx-markdown-tables
sphinx_rtd_theme
recommonmark>=0.7.1
